#stocks-search {
	padding-top: 45px;
}

.remove-pad-left {
	padding-left: 0 !important;
}

.remove-pad-right {
	padding-right: 0 !important;
}

.search-display {
	display: inline-block !important;
}

#logo {
	border-radius: 35%;
	margin-right: 10px;
}

#results {
	padding-bottom: 1rem;
}

#user-name {
	margin-top: 2.5%;
	margin-right: 10px;
}